# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*                       export-ignore
/addons/gdtype          -export-ignore
/addons/gdtype/**       -export-ignore
/addons/gdtype/*.import export-ignore
